{% extends "base.html" %}

{% block jscripts %}
{% end %}

{% block feed %}

	<h3>About us</h3>
	<div class="alert alert-info"><p>
	define tip-off: a piece of information, typically one given in a discreet or confidential way.
    </p></div>
    <p><a class="btn btn-primary btn-lg" role="button" href="/">tipoff</a> is an effort to help you know your neighbourhood better.</p> 
    <p>We spend 80% of our lives living in a 5km radius. 
    And with the amazing social media, we should be more congizant of our neighbourhood vibes.</p>
    <p>Also its more fun to know when your favourite bakery is baking something special with a good offer.</p> 
     <p>
    tipoff users see all geo-tagged content being posted around them. To begin with, we are featuring twitter content.
    When you embedd a web url link in a tweet, it becomes clickable on our site.
    </p>
    <p>
    We will integrate with more and more geo-tagged content providers like Facebook, Instagram etc while keeping it clutter-free for our users.
    In general, we delete a tipoff and related content after 3 days. The content retention period is subjected to vary in <a href="/we/terms/">future.</a>
    </p>
	<div class="alert alert-info">You can contact us at <a href="mailto:contact@tipoff.io">contact@tipoff.io</a></div>
{% end %}