{% extends "base.html" %}

{% block jscripts %}
{% end %}

{% block feed %}
	

<h3>Advertise</h3>
	<div class="alert alert-info"><p>
	Free it is! Just create a geo-tagged tweet from your business location to get featured on our site.
    </p></div>
    <p>
    We publish all geo-tagged tweets to our users. No need to flip a placard or distribute flyers in your neighbourhood.
    Just tweet!  
    </p>
    <p>
    tipoff users see all geo-tagged content being posted around them. To begin with, we are featuring twitter content.
    When you embedd a web url link in a tweet, it becomes clickable on our site.
    </p>
    <p>
    We will integrate with more and more geo-tagged content providers like Facebook, Instagram etc while keeping it clutter-free for our users. 
    Your content is visible on our site for 3 days.
    </p>
<div class="alert alert-info">Please send in your queries at <a href="mailto:advertise@tipoff.io">advertise@tipoff.io</a></div>	  	
{% end %}