<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

 <!-- Bootstrap -->
<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

<!-- tipoff -->
<link rel="stylesheet" type="text/css" href="/static/base.css">



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/moment.js"></script>
<script src="/static/base.js"></script>
<script src="/static/jquery.cookie.js"></script>
<script>{% block jscripts %}
{% end %}
</script>
	</head>
<body>


	<div id="page-container" class="container">
	<div id="nav-wrapper" >	
		<div id="nav" class="navbar affix" data-offset-top="130" data-spy="affix">
<div class="navbar-inner">
<div class="container">
<div class="span12">
<span><h4>Tipoff</h4></span>
</div>
</div>
</div>
</div>
</div>
	<!--div id="name-header" class="affix-top" data-spy="affix" data-offset-top="20"><span><h3>tipoff</h3></span></div> -->
	
		{% block feed %}
		  	
		{% end %}
	</div>

</body>
<footer class="breadcrumb">The worst thing one can do is not to try, to be aware of what one wants and not give in to it, to spend years in silent hurt wondering if something could have materialized - never knowing.
Jim Rohn</footer>

</html>

