<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

<link rel="apple-touch-icon" href="/static/images/logo.png">
<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" /> 

 <!-- Bootstrap -->
<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
<!--link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet"-->

<!-- tipoff -->
<link rel="stylesheet" type="text/css" href="/static/css/base.css">


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/moment.js"></script>
<script src="/static/js/base.js"></script>
<script src="/static/jquery.cookie.js"></script>
<!-- google analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46399338-1', 'tipoff.io');
  ga('send', 'pageview');

</script>
{% block includejs %}
{% end %}
<script>{% block jscripts %}
{% end %}
</script>
	</head>
<body>

<div id="page-container" class="container">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	        <!-- Brand and toggle get grouped for better mobile display -->
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	            <span class="sr-only">Settings</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span></a>
	        </div>
	
	        <!-- Collect the nav links, forms, and other content for toggling -->
	        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	            <ul class="nav navbar-nav">
			        <li><a href="/we/settings/">Settings</a></li>
    </ul>
		{% block nav %}
		{% end %}
	          
	           <ul class="nav navbar-nav navbar-right">
			      <li class="dropdown">
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-list"></span><b class="caret"></b></a>
			        <ul class="dropdown-menu">
			        <!--li><a href="/new/">New post!</a></li-->
			          <li><a href="/we/about/">About</a></li>
			          <li><a href="/we/terms/">Terms</a></li>
			          <li><a href="/we/privacy/">Privacy</a></li>
			          <li class="divider"></li>
			          <li><a href="/we/advertise/">Advertise</a></li>
			          <li class="divider"></li>
			          <li><a href="/we/help/">Help</a></li>
			        </ul>
			      </li>
			    </ul>
	        </div><!-- /.navbar-collapse -->
	      
	</nav>


		{% block feed %}
		  	
		{% end %}
	</div>
</body>

</html>

