{% extends "base.html" %}

{% block feedwrapper %}

        	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	        <!-- Brand and toggle get grouped for better mobile display -->
	          <a id='home-brand' class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span></a>
              <a class="navbar-right navbar-btn" href="/we/more/">
                  <button type="button" class="btn btn-default navbar-btn">
                      <span class="glyphicon glyphicon-tasks"></span>
                  </button>
              </a>


	</nav>

		{% block feed %}

		{% end %}
{% end %}