{% extends "base.html" %}

{% block jscripts %}
	var url = window.location.pathname;
	var servername = 'http://' + $('<a>').prop('href', url).prop('hostname')  + '/';
	if (!($('<a>').prop('href', url).prop('port') == null)){
		servername = 'http://' + $('<a>').prop('href', url).prop('hostname') + ':' + $('<a>').prop('href', url).prop('port') + '/';
	}
	var stepsize = new Number(10);
	
	$(function() {
	
			$.cookie('FromPosition', 0, { path: '/'});
			
			if(($('footer').isOnScreen())){  
					getFeedData(); // here i am compensating for different screen orientation, so that its full of content
					getFeedData(); // Will deal with this problem later.
					getFeedData();
				}

			if ($.cookie('myFilterTags')){
				$('#txtfiltertags').val(decodeURIComponent($.cookie('myFilterTags')));
			};
				
			$('#btnfiltertags').click(function(event){
				event.preventDefault();
				var myencodedfiltertags = encodeURIComponent($('#txtfiltertags').val());
				alert(myencodedfiltertags);
				$.cookie('myFilterTags',  myencodedfiltertags, { path: '/'});
				location.reload();
			});
	});
	$.fn.isOnScreen = function(){
	    
	    var win = $(window);
	    
	    var viewport = {
	        top : win.scrollTop(),
	        left : win.scrollLeft()
	    };
	    viewport.right = viewport.left + win.width();
	    viewport.bottom = viewport.top + win.height();
	    
	    var bounds = this.offset();
	    bounds.right = bounds.left + this.outerWidth();
	    bounds.bottom = bounds.top + this.outerHeight();
	    
	    return (!(viewport.right < bounds.left || viewport.left > bounds.right || viewport.bottom < bounds.top || viewport.top > bounds.bottom));
	    
	};

	$(window).scroll(function(){
		if(($('footer').isOnScreen())){  
							getFeedData();
						}
	});

	function setCoordinateCookie(position){
		  	$.cookie('MyLat', position.coords.latitude); // Storing latitude value
			$.cookie('MyLon', position.coords.longitude); // Storing longitude value
			$("#main-feed").empty();
			getFeedData();
			getFeedData();
			getFeedData();		
		 };
	
		function couldntFetchPosition(msg){
					alert('Location not found!\n Allow browser to access location services and try again.' + msg );
	 		};
	
	 	if ($.cookie('MyLat') == null){
	  	if (navigator.geolocation){
		    	navigator.geolocation.getCurrentPosition(setCoordinateCookie, couldntFetchPosition);
		    }
	};
	
	function setFromPosition(){
		if (($.cookie('FromPosition') == null)||($.cookie('FromPosition') == "NaN")){
			$.cookie('FromPosition', 0, { path: '/'});
		};
	};
	
	function handlePageNumber(code){
		if (code == 1){ 
				setFromPosition();
				var nextposition = parseInt($.cookie('FromPosition')) + window.stepsize;
				$.cookie('FromPosition', nextposition, { path: '/'});
		};
		if (code == -1){ //decrement by step size
				setFromPosition();
				var nextposition = parseInt($.cookie('FromPosition')) - window.stepsize;
				if (nextposition < 0){
					nextposition = 0;
				}
				$.cookie('FromPosition', nextposition, { path: '/'}); 
		};
	};
	function getAndRenderData(path){
			  	var result = $.get( path, function( data ) {
						var posts = $.parseJSON(data);
						$.each(posts, function(){
								$('#main-feed').append($('<div/>',{
												    'id'    : this.post_id,
												    'class' : 'main-post row-fluid panel-body breadcrumb'
												}));
								if (!(this.content_img_url == null)){
									$('#' + this.post_id).addClass("clickable_object");
								}
								$('#' + this.post_id).append($('<div/>',{
												    'class' : 'content_link',
												    html : this.content_img_url
												}));
								$('#' + this.post_id).append($('<div/>',{
												    'class' : 'span1',
												    html : '<img src="' + this.user_img_url + '" class="img-responsive"/>'
												}));
								$('#' + this.post_id).append($('<div/>',{
												    'class' : 'span10',
												    html : this.text
												}));
								$('#' + this.post_id).append($('<div/>',{
												    'class' : 'span1 elapsed_time',
												    html : '<span class="x_minutes_ago badge">' + moment(formatDate(new Date(this.created)), "YYYY-MM-DDTHH:mm:ssZ").fromNow() + '</span>'
												}));
								
						    });
					});
	};
	function getFeedData(){
				var path = window.servername + "from/" + $.cookie('FromPosition') + "/";
		  		if (!($.cookie('MyLat') == null)){			  				
		    			path = window.servername +  $.cookie("MyLat") + "/" +  $.cookie("MyLon") + "/from/" + $.cookie('FromPosition') + "/";
		    		}
		    	if ($.cookie('myFilterTags')){
		    		path = path + "tags/" + $.cookie('myFilterTags') + "/";
		    	}
				getAndRenderData(path);
				handlePageNumber(1);
	};


	$(document).on('click', "div.clickable_object", function() {
		var content_url = $(this).children('.content_link').text();
		window.open(content_url);
  		return false;
	});

	
{% end %}
{% block feed %}

	<div id="main-feed" class="main-feed panel panel-default">
	
	</div>

{% end %}



