{% extends "base.html" %}

{% block jscripts %}
	var url = window.location.pathname;
	var servername = 'http://' + $('<a>').prop('href', url).prop('hostname')  + '/';
	if (!($('<a>').prop('href', url).prop('port') == null)){
		servername = 'http://' + $('<a>').prop('href', url).prop('hostname') + ':' + $('<a>').prop('href', url).prop('port') + '/';
	}
	var default_pagesize = new Number(10);
	var pageload_utctime = moment.utc().valueOf(); 
	$(function() {
	
			$.cookie('FromPosition', 0, { path: '/'});
			
			window.pageload_utctime = moment.utc().valueOf();
			if(($('footer').isOnScreen())){  
					getFeedData(window.pageload_utctime, window.default_pagesize*3, $.cookie('MyLat'), $.cookie('MyLon'), $.cookie('FromPosition'), $.cookie('myFilterTags'));
				}

			if ($.cookie('myFilterTags')){
				$('#txtfiltertags').val(decodeURIComponent($.cookie('myFilterTags')));
			};
				
			$('#btnfiltertags').click(function(event){
				event.preventDefault();
				var filterstring = $('#txtfiltertags').val().replace(/\s+/g, '');
				var myencodedfiltertags = encodeURIComponent(filterstring);
				$.cookie('myFilterTags',  myencodedfiltertags, { path: '/'});
				location.reload();
			});
			
		
	});
	$.fn.isOnScreen = function(){
	    
	    var win = $(window);
	    
	    var viewport = {
	        top : win.scrollTop(),
	        left : win.scrollLeft()
	    };
	    viewport.right = viewport.left + win.width();
	    viewport.bottom = viewport.top + win.height();
	    
	    var bounds = this.offset();
	    bounds.right = bounds.left + this.outerWidth();
	    bounds.bottom = bounds.top + this.outerHeight();
	    
	    return (!(viewport.right < bounds.left || viewport.left > bounds.right || viewport.bottom < bounds.top || viewport.top > bounds.bottom));
	    
	};
 	
 	if ($.cookie('MyLat') == null){
	  	if (navigator.geolocation){
		    	navigator.geolocation.getCurrentPosition(setCoordinateCookie, couldntFetchPosition);
			    }
	};
	function setFromPosition(){
		if (($.cookie('FromPosition') == null)||($.cookie('FromPosition') == "NaN")){
			$.cookie('FromPosition', 0, { path: '/'});
		};
};
	
	function setCoordinateCookie(position){
		  	$.cookie('MyLat', position.coords.latitude); // Storing latitude value
			$.cookie('MyLon', position.coords.longitude); // Storing longitude value
			$("#main-feed").empty();
			getFeedData(window.pageload_utctime, window.default_pagesize*3, $.cookie('MyLat'), $.cookie('MyLon'), $.cookie('FromPosition'), $.cookie('myFilterTags'));
		 };

	$(window).scroll(function(){
		if(($('footer').isOnScreen())){  
							getFeedData(window.pageload_utctime, window.default_pagesize, $.cookie('MyLat'), $.cookie('MyLon'), $.cookie('FromPosition'), $.cookie('myFilterTags'));
						}
	});
	
	
function getAndRenderData(path){
		  	var result = $.get( path, function( data ) {
					var posts = $.parseJSON(data);
					$.each(posts, function(){
							if (this.post_id){
							$('#main-feed').append($('<div/>',{
											    'id'    : this.post_id,
											    'class' : 'main-post panel-body breadcrumb'
											}));
							$('#' + this.post_id).append($('<div/>',{
											    'class' : 'content_link',
											    html : this.content_img_url
											}));
							$('<div/>',{
								'class' : 'row post-top'
							}).appendTo('#' + this.post_id)
								.append($('<div/>',{
								    'class' : 'col-md-1 pull-right',
								    'html' : '<img src="static/images/Twitter_logo_blue.png" class="img-responsive content-provider-logo pull-right"/>'
											}))											
								.append($('<div/>',{
											    'class' : 'col-md-3',
											    html : '<img src="' + this.user_img_url + '" class="img-responsive"/>'
											}))
							;
							$('<div/>',{
								'class' : 'row post-middle'
							}).appendTo('#' + this.post_id)
								.append($('<div/>',{
											    'class' : 'col-md-12',
											    html : this.text
											}))											
							;
							$('<div/>',{
								'class' : 'row post-bottom'
							}).appendTo('#' + this.post_id)
								.append($('<div/>',{
											    'class' : 'post-info elapsed_time col-md-4 pull-right',
											    html : '<span class="x_minutes_ago badge">' + moment(formatDate(new Date(this.created)), "YYYY-MM-DDTHH:mm:ssZ").fromNow() + '</span>'
											}))
								.append($('<div/>',{
											    'class' : 'post-actions col-md-8'
											}))
							;
							$('#' + this.post_id + ' > div.post-bottom > div.post-actions').append($('<button/>',{
												'type' : 'button',
											    'class' : 'btn btn-default post-like',
											    html : '<span class="glyphicon glyphicon-thumbs-up"></span>'
											}));
							if (!(this.content_img_url == null)){
								$('#' + this.post_id + ' > div.post-bottom > div.post-actions').append($('<button/>',{
													'type' : 'button',
												    'class' : 'btn btn-default post-link',
												    html : '<span class="glyphicon glyphicon-link"></span>'
												}));
							}
						}
							
					    });
				});
};

	$(document).on('click', "button.post-link", function() {
		var content_url = $(this).closest("div.post-bottom").siblings("div.content_link").text();
		window.open(content_url);
  		return false;
	});

	$(document).on('click', "button.post-like", function() {
		var doc_id = $(this).closest("div.main-post").attr("id");
		var jqxhr = $.get( window.servername + 'like/'+ encodeURIComponent(doc_id) +'/');
		alert(moment.utc().format("YYYY-MM-DDTHH:mm:ssZ"));
		$(this).remove();
	});

	
{% end %}
{% block nav %}
	          <form class="navbar-form navbar-left" role="search">
	            <div class="form-group">
	              <input id="txtfiltertags" class="form-control tags" placeholder="filter by tags(,)" type="text">
	            </div>
	            <button id="btnfiltertags" type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
	          </form>
{% end %}
{% block feed %}

	<div id="main-feed" class="main-feed panel panel-default">
	
	</div>

{% end %}



