{% extends "base.html" %}


{% block feed %}

	<div id="main-feed" class="main-feed panel panel-default">

	</div>

<div id="footer" class="alert alert-success">
    <h3>Scroll for more!</h3>
</div>


{% end %}

{% block afterincludejs %}
            <script src="/static/js/subscribe.js"></script>
            <script src="/static/js/location.js"></script>
            <script src="/static/js/usability.js"></script>
            <script src="/static/js/utility.js"></script>
            <script src="/static/js/feed.js"></script>

{% end %}
{% block afterjscripts %}


{% end %}