{% extends "feed_wrapper.html" %}



{% block feed %}

<h3>Help</h3>
<div class="alert alert-info">If you have any questions or complaints, please send us an email at <a href="mailto:help@tipoff.io">help@tipoff.io</a></div>

              <div class="list-group">
  <a href="/we/about/" class="list-group-item">
    About us
  </a>
  <a href="/we/terms/" class="list-group-item">Terms</a>
  <a href="/we/privacy/" class="list-group-item">Privacy</a>
  <a href="/we/advertise/" class="list-group-item">Advertise</a>
  <a href="/we/help/" class="list-group-item active">Help</a>
</div>
{% end %}