{% extends "base.html" %}

{% block includejs %}
{% end %}
{% block jscripts %}
	$(function() {
        var referrer =  get_url_value('next');
        if (!referrer){referrer = '/'};
        $.cookie('mypagebeforelogin', referrer, { path: '/'});
	});

	$(document).on('click', "#btngoogle", function(event){
		event.preventDefault();
		window.location.replace("/login/google/");
	});
	$(document).on('click', "#btnfacebook", function(event){
		event.preventDefault();
		window.location.replace("/login/facebook/");
	});
	$(document).on('click', "#btntwitter", function(event){
		event.preventDefault();
		window.location.replace("/login/twitter/");
	});

{% end %}
{% block feed %}
       <h3>Login via:</h3>

<div >

      <button type="button" class="btn btn-default btn-lg btn-block" id="btngoogle">Google</button>
      <button type="button" class="btn btn-default btn-lg btn-block" id="btnfacebook" disabled="true">Facebook</button>
      <button type="button" class="btn btn-default btn-lg btn-block" id="btntwitter" disabled="true">Twitter</button>

</div>
<div class="spacer"></div>
<div class="alert alert-info">We just want real people to post on tipoff, not bots or spammers.</div>

{% end %}



