{% extends "base.html" %}

{% block feed %}
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <a href="/we/settings/" class="thumbnail">
              <img src="/static/images/settings.png" class="more-images img-responsive"/>
            </a>
          </div>
          <div class="col-xs-6 col-md-3">
            <a href="/we/about/" class="thumbnail">
              <img src="/static/images/about_us.png" class="more-images img-responsive"/>
            </a>
          </div>

        </div>
{% end %}