{% extends "base.html" %}

{% block jscripts %}

var image_on_canvas = 0;

$(function() {
		var imageLoader = document.getElementById('imageLoader');
		imageLoader.addEventListener('change', handleImage, false);

		
		function handleImage(e){
		    var reader = new FileReader();
		    reader.onload = function(event){
		        var img = new Image();
		        img.onload = function(){
		            getCanvas(img, 'imageCanvas',  img.height, img.width);
		            window.image_on_canvas = 1;
		        }
		        img.src = event.target.result;
		    }
		    reader.readAsDataURL(e.target.files[0]);     
		}
});

function setCoordinateCookie(position){
	  	$.cookie('MyLat', position.coords.latitude, { expires:getDate30MinFromNow(), path: '/'}); // Storing latitude value
		$.cookie('MyLon', position.coords.longitude, { expires:getDate30MinFromNow(), path: '/'}); // Storing longitude value
	 };
function couldntFetchPosition(msg){
		alert('Location not found!\n Allow browser to access location services and try again.');
};
$(document).on('click', "#btn-upload", function() {
		var text = encodeURIComponent($('#tagline').val().replace(/\s+/g, ''));
		if (text.length == 0){alert('Comments are missing!'); return;}
		if (window.image_on_canvas == 0){alert('Image is missing!'); return;}

		if (navigator.geolocation){
		    			navigator.geolocation.getCurrentPosition(setCoordinateCookie, couldntFetchPosition, {timeout:5000});
			    	}
		var lat = $.cookie('MyLat');
		var lon = $.cookie('MyLon');
		
		if (!(lat.length == 0)){
			var imgfile= dataURLtoBlob(document.getElementById('imageCanvas').toDataURL());
			var fd = new FormData();
			fd.append("image", imgfile);
			
			$.ajax({
				  type: "POST",
				  url: "/new/location/" + lat + "/" + lon + "/text/"  + text + "/",
				  data: fd,
				  processData: false,
   				  contentType: false,
				}).done(function( respond ) {
				 			alert(respond);
						});
		}		
	});
{% end %}
{% block nav %}
{% end %}
{% block feed %}


<div class="input-group">
  <span class="input-group-addon">tipoff:</span>
  <input id="tagline" type="text" class="form-control" placeholder="You gotta see this!"/>
        <input type="file" id="imageLoader" accept="image/*;capture=camera"/>
        <canvas id="imageCanvas"></canvas>
  <button id="btn-upload" type="button" class="btn btn-primary">Upload</button>
</div>
{% end %}



