{% extends "base.html" %}

{% block jscripts %}

$(function() {
		var imageLoader = document.getElementById('imageLoader');
		    imageLoader.addEventListener('change', handleImage, false);
		var canvas = document.getElementById('imageCanvas');
		var ctx = canvas.getContext('2d');
		
		
		function handleImage(e){
		    var reader = new FileReader();
		    reader.onload = function(event){
		        var img = new Image();
		        img.onload = function(){
		            canvas.width = img.width;
		            canvas.height = img.height;
		            ctx.drawImage(img,0,0);
		        }
		        img.src = event.target.result;
		    }
		    reader.readAsDataURL(e.target.files[0]);     
		}
});
{% end %}
{% block nav %}
{% end %}
{% block feed %}


<div class="input-group">
  <span class="input-group-addon">tipoff:</span>
  <input type="text" class="form-control" placeholder="You gotta see this!"/>
        <input type="file" id="imageLoader" accept="image/*;capture=camera"/>
        <canvas id="imageCanvas"></canvas>
</div>
{% end %}



