{% extends "base.html" %}


{% block feed %}

<div class="row input-group">
    <h3>Post a tipoff:</h3>
	<input type="file" id="imageLoader" class="btn btn-info" accept="image/*;capture=camera"/>
	<div id="divcanvas" class="well"></div>
    <input id="tagline" type="text" class="form-control" placeholder="You gotta see this!"/>
   <button id="btn-upload" class="btn btn-default btn-lg btn-block" type="button" disabled="true"><span class="glyphicon glyphicon-upload"></span></button>

</div>



{% end %}

{% block afterincludejs %}
            <script src="/static/js/image.js"></script>
{% end %}
{% block afterjscripts %}
var image_on_canvas = 0;

$(function() {
		var imageLoader = document.getElementById('imageLoader');
		imageLoader.addEventListener('change', handleImage, false);

		function handleImage(e){
            $('#in-progress-wheel').removeClass('hide');

		    var reader = new FileReader();
		    reader.onload = function(event){

                var canvasEl = fixCanvas(document.createElement('canvas'));
                canvasEl.setAttribute("id", "imageCanvas");
                $('#divcanvas').append(canvasEl);

                var imgEl = document.createElement('img');
                imgEl.onload = function()
                {
                    var ctx = canvasEl.getContext('2d');
                    ctx.drawImage(this, 0, 0, 243, 243);
        		    window.image_on_canvas = 1;
                    $('#imageLoader').remove();
                    $('#btn-upload').removeAttr('disabled');
                    $('#btn-upload').addClass('btn-success').removeClass('btn-default');
                    $('#in-progress-wheel').addClass('hide');

                };
                imgEl.src = event.target.result;
		    }
		    reader.readAsDataURL(e.target.files[0]);
		}
});

$(document).on('click', "#btn-upload", function() {

		var text = encodeURIComponent($('#tagline').val());
		if (text.length == 0){alert('Comments are missing!'); return;}
		if (window.image_on_canvas == 0){alert('Image is missing!'); return;}

		var lat = $.cookie('MyLat');
		var lon = $.cookie('MyLon');
        var cityname = $.cookie('mylocalityname');

		if (lat){
            $('#in-progress-wheel').removeClass('hide');
			var imgfile= dataURLtoBlob(document.getElementById('imageCanvas').toDataURL());
			var fd = new FormData();
			fd.append("image", imgfile);

			$.ajax({
				  type: "POST",
				  url: "/new/location/" + lat + "/" + lon + "/text/"  + text + "/place/" + cityname + "/",
				  data: fd,
				  processData: false,
   				  contentType: false,
				}).done(function( respond ) {
                            $('#in-progress-wheel').addClass('hide');
						})
                     .fail(function(respond) {
                            //alert(respond);
                            //alert( "Something went wrong!" );
                            $('#in-progress-wheel').addClass('hide');
                    });
            alert('Your tipoff is being uploaded!\nIt will appear shortly in the listing.');
            window.location.replace("/");
		}
	});

{% end %}

