{% extends "feed_wrapper.html" %}



{% block feed %}

    <section id="nofeed">
        <div class="container">
            <div class="row">
                <div class="nofeed">
                    <div class="sadnofeed"></div>
                    <h1>Ops, nothing around you</h1>
                    <h3>We'll let you know when something comes up, or try to change the setttings</h3>
                    <div class="line"></div>

                </div>
            </div>
        </div>

    </section>

{% end %}