{% extends "base.html" %}

{% block feed %}



<div id="{{ post.doc_id }}" class="main-post panel-body breadcrumb">
    <div id="{{ post.post_id }}" class="content_link"></div>
    <div class="btn btn-default coord">{{ post.coord }}</div>

    {% if post.content_img_url %}
        <div id="pop-div" class="row post-top" style="margin-bottom:5px;">
            <div class="col-xs-12 col-md-12">
                <a href="{{ post.user_profile_url }}" target="_blank" class="thumbnail">
                    <img id="popular-frame" src="{{ post.content_img_url }}" >
                </a>
            </div>
        </div>
    {% end if %}

    <div class="row post-middle">
        <div class="col-md-1 pull-right">
            <img src="/static/images/{{ post.source }}_post.png" class="img-responsive content-provider-logo pull-right">
        </div>
        <div class="col-md-1 pull-right elapsed_time">
            <span id="time_since" class="x_minutes_ago badge">{{ post.created }}</span>
        </div>
        <div class="col-md-3">
            <a class="btn btn-primary" target="_blank" href="{{ post.user_profile_url }}" >
                <img src="{{ post.user_img_url }}" class="profile-img img-responsive">
            </a>
        </div>
        <div class="col-md-7">
            <p class="text-left text">{{ post.text }}</p>
        </div>
    </div>

    <div class="post-bottom btn-group btn-group-justified">
        <a type="button" class="btn btn-default post-like">
            <span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;{{ post.up_votes }}
        </a>
        {% if post.content_img_url %}
            <a type="button" class="btn btn-default post-link" href="{{ post.content_img_url }}" target="_blank">
                <span class="glyphicon glyphicon-link"></span>
            </a>
        {% end if %}
        <a type="button" class="btn btn-default placename truncate">
            {{ post.place_name }}
        </a>
        {% if can_delete %}
            <a id="delete-post" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        <!-- Single button -->
            <div class="btn-group">
              <button id="selected-category" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  {% if selected_category_label == 0 %}
                        Category
                  {% else %}
                        {{ selected_category_label }}
                {% end if %}
                  <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                {% for key, value in categories.iteritems() %}
                    <li><a class="choose-category" href="/post/{{ post.doc_id }}/category/{{value}}/">{{key}}</a></li>
                {% end %}
              </ul>
            </div>

        {% end if %}
    </div>


</div>


{% end %}

{% block afterincludejs %}
            <script src="/static/js/location.js"></script>
            <script src="/static/js/utility.js"></script>
            <script src="/static/js/post.js"></script>
{% end %}
{% block afterjscripts %}
{% end %}