{% extends "base.html" %}

{% block jscripts %}
{% end %}

{% block feed %}
	<nav class="navbar navbar-default" data-offset-top="130" data-spy="affix" role="navigation">
	        <!-- Brand and toggle get grouped for better mobile display -->
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	            <span class="sr-only">Settings</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="/">tipoff</a>
	        </div>
	
	        <!-- Collect the nav links, forms, and other content for toggling -->
	        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	           <ul class="nav navbar-nav navbar-right">
			      <li class="dropdown">
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown">We<b class="caret"></b></a>
			        <ul class="dropdown-menu">
			          <li><a href="/we/about/">About</a></li>
			          <li><a href="/we/terms/">Terms</a></li>
			          <li><a href="/we/privacy/">Privacy</a></li>
			          <li class="divider"></li>
			          <li><a href="/we/advertise/">Advertise</a></li>
			          <li class="divider"></li>
			          <li><a href="/we/help/">Help</a></li>
			        </ul>
			      </li>
			    </ul>
	        </div><!-- /.navbar-collapse -->
	      
	</nav>

	<h3>Settings</h3>
	<div class="alert alert-info"><p>
	Coming soon!
    </p></div>
	  	
{% end %}