{% extends "base.html" %}


{% block feed %}
        <div class="well well-sm">
          <span id="sort-by">Show popular first</span>
          <div id="sort-by-votes-slider"></div>
        </div>

        <div class="well well-sm">
          <span id="filter-days">Show last </span><span id="filter-days-label">9</span><span> days.</span>
          <div id="filter-days-slider"></div>
        </div>

        <div class="well well-sm">
          <span>Search radius is </span><span id="search-radius-label">9</span><span> kms.</span>
          <div id="search-radius-slider"></div>
        </div>
{% end %}

{% block afterincludejs %}
            <script src="/static/js/settings.js"></script>
{% end %}
{% block afterjscripts %}
{% end %}
