body { padding-top: 70px; }

#page-container
{
	background-color: #FFFFFF;
}

.elapsed_time
{
	/*position: relative; -- it was causing the elapsed batch to go over navbar while scrolling*/
	float: right;
}

.clickable_object
{
	background-color: #FFC79C;
	cursor: pointer;
}
.content_link {
	display:none;
}

.coord{
	display:none;
}
.content-provider-logo{
	max-height: 25px;
	min-height: 10px;
}

.spacer {
    margin-top: 10px; /* define margin as you see fit */
}
#mapCanvas{
    width:100%;
    height:300px;
}

.ajax-loader {
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;  /* -1 * image height / 2 */
    display: block;
    z-index:1;
}

.profile-img{
    max-height:50px;
    max-width:50px;
}

.text{
  word-wrap: break-word;

}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pop-thumbnail{
    max-height:75px;
    max-width:75px;
}