body { padding-top: 70px; }

#page-container
{
	background-color: #FFFFFF;
}

.elapsed_time
{
	/*position: relative; -- it was causing the elapsed batch to go over navbar while scrolling*/
	float: right;
}

.clickable_object
{
	background-color: #FFC79C;
	cursor: pointer;
}
.content_link{
	display:none;
}

.content-provider-logo{
	max-height: 25px;
	min-height: 10px;
}