{% extends "feed_wrapper.html" %}

{% block feed %}

	<h3>Tipoff.io &nbsp <small>neighbourhood vibes</small></h3>
	<div class="alert alert-info">
    <p>We spend 80% of our lives living in a 5km radius. Find out whats happening around you.
        We show you geo-tagged content from social media.
    </p>
	</div>

<div class="list-group">
  <a href="/we/about/" class="list-group-item active">
    About us
  </a>
  <a href="/we/terms/" class="list-group-item">Terms</a>
  <a href="/we/privacy/" class="list-group-item">Privacy</a>
  <a href="/we/advertise/" class="list-group-item">Advertise</a>
  <a href="/we/help/" class="list-group-item">Help</a>
</div>



{% end %}