{% extends "feed_wrapper.html" %}

{% block feed %}

<div class="row input-group">
    <h3>Post a tipoff:</h3>
	<input type="file" id="imageLoader" class="btn btn-info" accept="image/*;capture=camera"/>
	<div id="divcanvas" class="well"></div>
    <input id="tagline" type="text" class="form-control" placeholder="You gotta see this!"/>
   <button id="btn-upload" class="btn btn-default btn-lg btn-block" type="button" disabled="true"><span class="glyphicon glyphicon-upload"></span></button>

</div>



{% end %}

{% block afterincludejs %}
            <script src="/static/js/image.js"></script>
{% end %}
{% block afterjscripts %}

{% end %}

