body
{
 /*   background-color: #FFF1D6;*/
 
}

#page-container
{
	background-color: #FFFFFF;
}

.elapsed_time
{
	position: relative;
	float: right;
}

.clickable_object
{
	background-color: #FFC79C;
	cursor: pointer;
}
.content_link{
	display:none;
}