{% extends "base.html" %}

{% block jscripts %}
	$(function() {
		$( '.x_minutes_ago' ).each(function(){
			var $span = $(this);
			var fulldate = formatDate(new Date($span.text()));
			$span.html(moment(fulldate, "YYYY-MM-DDTHH:mm:ssZ").fromNow());
		});
		
	});
	
{% end %}
{% block feed %}
  	{% for c in posts %}
		<li id ="{{ c.source }}-{{ c.post_id }}" style="list-style: none outside none">
			<div class="main-post">
				<div>
					<span><img src="{{ c.user_img_url }}"/></span>
					<span>{{ c.text }}</span>
				</div>
				<div>
					<span class="x_minutes_ago">{{ c.created.strftime("%Y-%m-%dT%H:%M:%S.%fZ") }}</span>
				</div>
			</div>
			{% if c.content_img_url %}
				<div class="extra-post">
					<span><img src='{{ c.content_img_url }}'/></span>
				</div>
			{% end %}
		</li>
	{% end %}

{% end %}